<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Insert title here</title>
  <link rel="stylesheet" href="/css/Loginpage/Login.css" />
  <!-- 사이드바 CSS 분리 스타일 적용 -->
  <link rel="stylesheet" href="/css/fragments/Sidebar.css" />
</head>
<body>
<!-- 사이드바 HTML 분리 -->
<div th:replace="Fragments/Sidebar :: sidebar"></div>

<div class="wrapper">
  <a href="/main">
    <img class="logomain" src="/img/logolo.png" />
  </a>

  <!-- ✅ 로그인 폼 시작 -->
  <form action="/login" method="POST">
    <div class="input-group">
      <input type="text" name="userId" class="input-id" placeholder="ID를 입력해 주세요" required />
    </div>
    <div class="input-group">
      <input type="password" name="password" class="input-pw" placeholder="Password를 입력해 주세요" required />
    </div>
    <label id="login-error-label" class="error-label"></label>
    <div class="rectangle-16673"></div>
    <button type="submit" class="loginbtn">Login</button>
  </form>
  <!-- ✅ 로그인 폼 끝 -->

  <a href="/findID" class="findID">ID 찾기</a>
  <a href="/findPW" class="findPW">Password 찾기</a>

  <div class="rectangle-16674"></div>
  <img class="naverlog" src="/img/naverlog.png" />
  <a href="/naver" class="naverlogin">네이버로 로그인</a>

  <div class="rectangle-16675"></div>
  <img class="gglogo" src="/img/gglogo.png" />
  <a href="/goggle" class="gogglelogin">구글로 로그인</a>

  <div class="rectangle-16676"></div>
  <img class="kakaologo" src="/img/kakaologo.png" />
  <a href="/kakao" class="kakaologin">카카오로 로그인</a>

  <form action="/signUp" method="GET">
    <div class="rectangle-1668"></div>
    <button type="submit" class="sign-upbtn">SignUp</button>
  </form>
</div>
</body>
</html>