<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Insert title here</title>
</head>
<link rel="stylesheet" href="/css/Stylepage/Stylepage.css" />
<body>
<link rel="stylesheet" href="/css/fragments/Sidebar.css" /> <!-- 사이드바 HTML 분리 -->
<div th:replace="Fragments/Sidebar :: sidebar"></div>

<div class="wraaper">

  <section class="today-hashtags">
    <h2>오늘의 해시태그</h2>
    <div class="hashtags">
      <span class="tag">#썸머룩</span>
      <span class="tag">#반팔코디</span>
      <span class="tag">#여름코디</span>
      <span class="tag">#최애신발</span>
      <span class="tag">#오오티디</span>
      <span class="tag">#덥다</span>
      <span class="tag">#느좋</span>
      <span class="tag">#New</span>
    </div>
  </section>

    <img class="image-120" src="image-1200.png" />
    <div class="jhyem-17">Jhyem17</div>
    <div class="div22">
      <img class="mask-group" src="mask-group0.svg" />
      <div class="_23">23</div>
    <div class="_5">#5뭐입챌린지 #슈프림 #스폰지밥 #롱슬리브</div>
    <img class="image-116" src="/img/image%20116.png" />
  </div>

    <div class="group-972">
      <img class="image-118" src="image-1180.png" />
      <div class="min-x-ili-0">min_x_ili_0</div>
    </div>

      <div class="_72">72</div>
      <img class="mask-group2" src="mask-group1.svg" />
      <div class="div24">성수나들이</div>

    <img class="image-117" src="image-1170.png" />


    <div class="div25">#오오티디 #여름코디</div>
    <img class="image-121" src="image-1210.png" />
    <div class="_232">23</div>
    <img class="mask-group3" src="mask-group2.svg" />
    <img class="image-1202" src="image-1201.png" />
    <div class="kyoue-dees-12">kyoue_dees12</div>

    <img class="image-122" src="image-1220.png" />
    <img class="mask-group4" src="mask-group3.svg" />
    <img class="image-123" src="image-1230.png" />
    <div class="newjeans-we">newjeans_we</div>
    <div class="div26">
      <div class="_233">23</div>

    <div class="div27">#거울샷 #셀카</div>


  <img class="image-119" src="image-1190.png" />
  <div class="jhyem-172">Jhyem17</div>

    <div class="div22">
      <img class="mask-group5" src="mask-group4.svg" />
      <div class="_234">23</div>

    <div class="_52">#5뭐입챌린지 #슈프림 #스폰지밥 #롱슬리브</div>
    <img class="image-1162" src="image-1161.png" />



  <img class="image-1182" src="image-1181.png" />
  <div class="min-x-ili-02">min_x_ili_0</div>

    <div class="_722">72</div>
    <img class="mask-group6" src="mask-group5.svg" />
    <div class="div28">성수나들이</div>

    <img class="image-1172" src="image-1171.png" />


  <div class="div29">#오오티디 #여름코디</div>
  <img class="image-1212" src="image-1211.png" />
  <div class="_235">23</div>
  <img class="mask-group7" src="mask-group6.svg" />
  <img class="image-1203" src="image-1202.png" />
  <div class="kyoue-dees-122">kyoue_dees12</div>


<img class="image-1222" src="image-1221.png" />
<img class="mask-group8" src="mask-group7.svg" />
<img class="image-1232" src="image-1231.png" />
<div class="newjeans-we2">newjeans_we</div>

  <div class="_236">23</div>

<div class="div30">#거울샷 #셀카</div>

</div>
</body>
</html>