<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>1:1문의</title>
  <link rel="stylesheet" href="/css/CsCenter/CsCenter.css">
  <link rel="stylesheet" href="/css/fragments/Sidebar.css" />
</head>
<body>
<div th:replace="Fragments/Sidebar :: sidebar"></div>

<!-- 내용 영역 -->
<div class="contentWrapper">
  <div class = "content">
    <!-- 1) 탭 내비게이션 -->
    <div class="cc-tabs">
      <a href="/announce" class = "cc-tab">
        <div class = "insideA">
          공지사항
        </div>
      </a>
      <a href="/faq" class = "cc-tab">
        <div class = "insideA">
          자주 묻는 질문
        </div>
      </a>
      <a href="/Inquire_Customer" class = "cc-tab active">
        <div class = "insideA">
          1:1문의
        </div>
      </a>
      <a href="/standard" class = "cc-tab">
        <div class = "insideA">
          검수 기준
        </div>
      </a>
    </div>
    <!-- 5) 1:1 문의 -->
    <section id="qna" class="cc-section">
        <div id = "Develop Now">해당 페이지는 현재 개발중입니다.</div>
    </section>
  </div>
</div>>
</body>
</html>