<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<link rel="stylesheet" href="/css/Sell_product_management/Sell_product_management.css" />
<aside class="sidebar">
  <a href="/main">
  <img class="logo-1" src="/img/logo%20(1).png" alt="로고" />
  </a>
  <nav class="sidebar-nav">
    <ul>
      <li><a href="/search">검색</a></li>
      <li><a href="/explore">탐색</a></li>
      <li><a href="/sell">판매등록</a></li>
      <li><a href="/wishlist">관심상품</a></li>
      <li><a href="/style">스타일</a></li>967
      <li><a href="/mypage">마이페이지</a></li>
      <li><a href="/support">고객센터</a></li>
    </ul>
  </nav>
  <div class="login-area">
    <a href="/login" class="btn-login">로그인</a>
  </div>
  <footer class="sidebar-footer">
    <p><a href="/support">고객센터</a> | <a href="/terms">이용약관</a></p>
    <small>&copy; All copyright in soldesk</small>
  </footer>
</aside>

<div class="wraaper">
<div class="div">
  <img class="line-136" src="line-1360.svg" />
  <div class="line-264"></div>
  <img class="group-767" src="group-7670.svg" />
  <div class="group-994">
    <div class="rectangle-1685"></div>
    <div class="_2">2</div>
  </div>
  <div class="group-995">
    <div class="rectangle-1684"></div>
    <div class="_3">3</div>
  </div>
  <div class="group-996">
    <div class="rectangle-1683"></div>
    <div class="_1">1</div>
  </div>
  <div class="next">NEXT</div>
  <div class="prev">PREV</div>
  <img class="polygon-29" src="polygon-290.svg" />
  <img class="polygon-30" src="polygon-300.svg" />
  <div class="group-994">
    <div class="rectangle-16852"></div>
    <div class="_22">2</div>
  </div>
  <div class="group-995">
    <div class="rectangle-16842"></div>
    <div class="_32">3</div>
  </div>
  <div class="group-996">
    <div class="rectangle-16832"></div>
    <div class="_12">1</div>
  </div>
  <div class="next2">NEXT</div>
  <div class="prev2">PREV</div>
  <img class="polygon-292" src="polygon-291.svg" />
  <img class="polygon-302" src="polygon-301.svg" />
  <div class="rectangle-1678"></div>
  <div class="div3">
  
    <div class="div5">
      <div class="rectangle-1677"></div>
      <div class="div6">상품명</div>
    </div>
    <div class="id">
      <div class="rectangle-16772"></div>
      <div class="div7">현재 경매가</div>
    </div>
    <div class="div8">
      <div class="rectangle-16773"></div>
      <div class="div9">등록 가격</div>
    </div>
    <div class="div10">
      <div class="rectangle-16774"></div>
      <div class="div11">경매 상태</div>
    </div>
    <div class="div12">
      <div class="rectangle-16775"></div>
      <div class="div13">종료일</div>
    </div>
  </div>
  <div class="div14">
    <div class="div5">
      <div class="rectangle-16776"></div>
      <div class="div16">상품명</div>
    </div>
    <div class="id">
      <div class="rectangle-16777"></div>
      <div class="div17">낙찰가</div>
    </div>
    <div class="div8">
      <div class="rectangle-16778"></div>
      <div class="div18">구매자</div>
    </div>
    <div class="div10">
      <div class="rectangle-16779"></div>
      <div class="div19">낙찰일</div>
    </div>
    <div class="div12">
      <div class="rectangle-167710"></div>
      <div class="div20">정산상태</div>
    </div>
  </div>
  <div class="n">
    <div class="rectangle-167711"></div>
    <div class="_33">등록 상품 3건</div>
  </div>
  <div class="n2">
    <div class="rectangle-167712"></div>
    <div class="_23">판매 완료 내역 2건</div>
  </div>
  <img class="line-301" src="line-3010.svg" />
   <div class="line-3333"></div>
   <div class="line-3334"></div>
  <div class="line-300"></div>
  <div class="line-296"></div>
  <div class="line-303"></div>
  <div class="line-304"></div>
<div class="line-3113222"></div>
  <div class="line-304444"></div>
  <img class="line-306" src="line-3060.svg" />
  <img class="line-307" src="line-3070.svg" />
  <img class="line-302" src="line-3020.svg" />
  <div class="line-297"></div>
  <div class="line-3035555"></div>
  <div class="line-298"></div>
  <div class="line-308"></div>
  <div class="line-308888"></div>
  <img class="line-299" src="line-2990.svg" />
  <div class="rectangle-1676"></div>
  <div class="div21">상품 등록</div>
  <div class="rectangle-1675"></div>
  <div class="div22">등록 상품 관리</div>
  <div class="div35">스트릿 패션의 기본! 스투시 반팔 판매합니다</div>
  <div class="stussy-welder-t-shirt-white">Stussy Welder T-Shirt White</div>
  <div class="div36">-</div>
  <div class="div37">경매중</div>
  <div class="div38">보러가기</div>
  <div class="div39">보러가기</div>
  <div class="div40">자세히 보기</div>
  <div class="_78-000">78,000</div>
  <div class="_2025-04-23">2025-04-23</div>
  <div class="line-311"></div>
  <div class="div41">스트릿 패션의 기본! 스투시 반팔 판매합니다</div>
  <div class="stussy-welder-t-shirt-white2">Stussy Welder T-Shirt White</div>
  <div class="_174-000">174,000</div>
  <div class="div42">검수 기준 미달</div>
  <div class="_78-0002">78,000</div>
  <div class="_2025-04-232">2025-04-23</div>
  <div class="line-3112"></div>
  <div class="div43">스트릿 패션의 기본! 스투시 반팔 판매합니다</div>
  <div class="stussy-welder-t-shirt-white3">Stussy Welder T-Shirt White</div>
  <div class="div44">-</div>
  <div class="div45">경매중</div>
  <div class="_78-0003">78,000</div>
  <div class="_2025-04-30">2025-04-30</div>
  <div class="line-3113"></div>
  <div class="div46">스트릿 패션의 기본! 스투시 반팔 판매합니다</div>
  <div class="stussy-welder-t-shirt-white4">Stussy Welder T-Shirt White</div>
  <div class="min-qqq-qq-qsdf">minQqqQQQsdf</div>
  <div class="_94-000">94,000</div>
  <div class="_2025-04-27">2025-04-27</div>
  <img class="line-3114" src="line-3113.svg" />
  <div class="div47">스트릿 패션의 기본! 스투시 반팔 판매합니다</div>
  <div class="stussy-welder-t-shirt-white5">Stussy Welder T-Shirt White</div>
  <div class="jiyun-kawaii">jiyun_kawaii</div>
  <div class="_124-000">124.000</div>
  <div class="_2025-05-01">2025-05-01</div>
  <div class="line-3115"></div>
  <div class="line-311555"></div>
  <div class="line-311444"></div>
  <div class="div48">
    <div class="rectangle-1703"></div>
    <div class="div49">정산하기</div>
  </div>
  <div class="div48">
    <div class="rectangle-17032"></div>
    <div class="div50">정산하기</div>
  </div>
  <div class="div48">
    <div class="rectangle-17033"></div>
    <div class="div51">정산완료</div>
  </div>
  <div class="div48">
    <div class="rectangle-17034"></div>
    <div class="div52">정산완료</div>
  </div>
  <img class="line-309" src="line-3090.svg" />
 
</div>

</body>
</html>