<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>메인 페이지</title>
  <!-- 사이드바 CSS 분리 스타일 적용 -->
  <link rel="stylesheet" href="/css/fragments/Sidebar.css" />
  <link rel="stylesheet" href="/css/Mainpage/Mainpage.css" />
</head>
<body>
<!-- 사이드바 HTML 분리 -->
<div th:replace="Fragments/Sidebar :: sidebar"></div>
<div class="wrapper">

<div class="mainpage">
  <img class="image-5" src="/img/image%205.png" />
  <a th:href="@{/product/detail}">
    <div class="rectangle-1578"></div>
  </a>
  <div class="top"></div>
  <div class="bottom"></div>
  <img class="div2" src="/img/pro.png" />
  <div class="div3">[야옹이까페] 이거 고양이 키여운데요... 사세요...</div>
  <div class="div4">현재가</div>
  <div class="div5">즉시 구매</div>
  <div class="_182-302">182,302 ₩</div>
  <div class="_185-302">185,302 ₩</div>
  <div class="_280-293">280,293 ₩</div>
  <div class="_129-000-view">129,000 view</div>
  <div class="_12-323">12,323</div>
  <div class="ellipse-12"></div>
  <div class="line-144"></dgiv>
  <div class="line-145"></div>
  <div class="rectangle-1584"></div>
<div class="div6">

    <img class="mask-group" src="/img/heart.png" />

  <div class="rectangle-1585"></div>
<!--   <div class="mask-group2"> -->
    <div class="ellipse-14"></div>
    
    <img class="mask-group3" src="/img/Vector%20(1).png" />
    <div class="ellipse-142"></div>
    <img class="_1" src="/img/Vector.png" />
  <img class="arrow-306" src="/img/Arrow%20306.png" />

  <div class="rectangle-1588"></div>
  <div class="div18">시세표</div>
  <div class="_12">1개월</div>
  <div class="_3">3개월</div>
  <div class="_6">6개월</div>
  <div class="_13">1년</div>
  <div class="div19">전체</div>
  <div class="_0">0</div>
  <div class="_2-3">2.3</div>
  <div class="_3-3">3.3</div>
  <div class="_5-3">5.3</div>
  <div class="_6-3">6.3</div>
  <div class="_7-3">7.3</div>
  <div class="_50-000">50,000</div>
  <div class="_150-000">150,000</div>
  <div class="_300-000">300,000</div>
  <div class="_350-000">350,000</div>
  <div class="line-146"></div>
  <div class="line-147"></div>
  <div class="line-148"></div>
  <div class="line-149"></div>
  <div class="line-150"></div>
  <div class="line-151"></div>
  <div class="line-152"></div>
  <div class="line-153"></div>
  <div class="line-154"></div>
  <div class="line-155"></div>
  <div class="line-156"></div>
  <div class="line-157"></div>
  <div class="line-158"></div>
  <div class="_100-000">100,000</div>
  <div class="_200-000">200,000</div>
  <div class="_250-000">250,000</div>
  <div class="_400-000">400,000</div>
  <div class="rectangle-1589"></div>

  <!--왼쪽 화살표-->
  <a href="#" onclick="loadPrevStyle(); return false;">
    <img class="image-67" src="/img/image%2065.png" alt="이전" />
  </a>

  <!--오른쪽 화살표-->
  <a href="#" onclick="loadNextStyle(); return false;">
    <img class="image-66" src="/img/image%2065.png" alt="다음" />
  </a>

  <!--스타일 메인 카드 (링크 적용)-->
  <a th:href="@{/style/detail}"><img class="image-65" src="/img/image%2065.png" />
  <img class="div20" src="/img/프로필.png" />
    <img class="mask-group4" src="/img/heart.png" />
  <div class="_2">스타일 리뷰</div>
  <div class="_730-em-0">730em0</div>
  <div class="_4">
    #크림미챌린지 #봄맞이 #4월코디 #전준호짱
    <br />
    #권성근게이야.. #바지가이뻐 #태그다!
    <br />
    이것은 그냥 글에대한 설명 글 ㅋㅋㅋㅋㅋ
  </div>
  </a>

  <script>
    async function loadStyle(direction) {
      const response = await fetch(`/style/${direction}`);
      const data = await response.json();

      //메인 이미지 변경
      document.querySelector('.image-65').src = data.imageUrl;
      //프로필, 좋아요, 닉네임, 해시태그 등도 업데이트
      document.querySelector('.div20').src = data.profileUrl;
      document.querySelector('._730-em-0').textContent = data.nickname;
      document.querySelector('._4').innerHTML = data.hashtags;
    }

    function loadNextStyle() {
      loadStyle("next");
    }

    function loadPrevStyle() {
      loadStyle("prev");
    }
  </script>

  <div class="_139">139</div>
  <div class="div23">호시이</div>
  <div class="rectangle-1591"></div>
  </div>

</div></div>
</div>
</body>
</html>
