@charset "UTF-8";
.wrapper {
  transform-origin: top left;
  width: 100%;
  min-height: 83vh; /* 100vh * 0.83 */
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transform-origin: top left;
  height: 100%;
  background-color: #181818;
}
* {
  box-sizing: border-box;
}
/* ───────────────────────────────────────────────────────────────────────────
   상단 탭
   ─────────────────────────────────────────────────────────────────────────── */

#MyPageBar{
  display : block;
  position : absolute;
  width : 75vw;
  height : 9vh;
  right : 85px;
}
#ClickBox{
  position : absolute;
  left : 10px;
  margin : 0 auto;
  align-items: center;
  display : flex;
}
#ClickBox > a {
  width: 160px;
  height: 30px;
  margin-right: 14px;
  padding : 10px;
  display: flex;
  align-items : center;
  justify-content: center;
  color : #CCC9C9CC;
  text-decoration: none;
}
#MyPageText {
  padding : 20px;
  font-size : 32px;
  color : #EEEEEE;
}

#MyPageBar a{
  text-decoration: none;
  text-align: center;
  color : #CCC9C9CC;
}

#MyPageBar a:visited{
  text-decoration: none;
  text-align: center;
  color : #CCC9C9CC;
}

#ClickBox .selected {
  color: rgb(255, 255, 255) !important;
  text-decoration: none;
  font-weight : bold;
}



.div {
  color: #f9eeee;
  text-align: left;
  font-family: "LineSeedSansKr-Regular", sans-serif;
  font-size: 20.4px;    /* 24 * 0.85 */
  line-height: 34px;    /* 40 * 0.85 */
  font-weight: 400;
  position: absolute;
  left: 315.35px;       /* 371 * 0.85 */
  top: 273.7px;         /* 322 * 0.85 */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._133-000-katte {
  color: #f9eeee;
  text-align: left;
  font-family: "LineSeedSansKr-Regular", sans-serif;
  font-size: 23.8px;    /* 28 * 0.85 */
  line-height: 34px;    /* 40 * 0.85 */
  font-weight: 400;
  position: absolute;
  left: 315.35px;       /* 371 * 0.85 */
  top: 302.6px;         /* 356 * 0.85 */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-895 {
  position: absolute;
  inset: 0;
}
.div2 {
  color: #f9eeee;
  text-align: left;
  font-family: "LineSeedSansKr-Regular", sans-serif;
  font-size: 30.6px;    /* 36 * 0.85 */
  line-height: 34px;    /* 40 * 0.85 */
  font-weight: 400;
  position: absolute;
  left: 825.35px;       /* 971 * 0.85 */
  top: 189.55px;        /* 223 * 0.85 */
  width: 246.5px;       /* 290 * 0.85 */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div3 {
  color: #f9eeee;
  text-align: left;
  font-family: "LineSeedSansKr-Regular", sans-serif;
  font-size: 30.6px;
  line-height: 34px;
  font-weight: 400;
  position: absolute;
  left: 955.4px;        /* 1124 * 0.85 */
  top: 189.55px;
  width: 246.5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-889 {
  position: absolute;
  inset: 0;
}
._2025-03-04 {
  text-align: left;
  position: absolute;
  left: 315.35px;
  top: 382.5px;         /* 450 * 0.85 */
    width: 119.05px;      /* 133 * 0.85 */
  height: 68px;         /* 80 * 0.85 */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._2025-03-04-span {
  color: #f9eeee;
  font-family: "LineSeedSansKr-Bold", sans-serif;
  font-size: 20.4px;    /* 24 * 0.85 */
  line-height: 34px;
  font-weight: 700;
  
}
._2025-03-04-span2 {
  color: #ccc9c9;
  font-family: "LineSeedSansKr-Regular", sans-serif;
  font-size: 13.6px;    /* 16 * 0.85 */
  line-height: 34px;
  font-weight: 400;
}
._133-000-katte2 {
  color: #f9eeee;
  text-align: left;
  font-family: "LineSeedSansKr-Bold", sans-serif;
  font-size: 20.4px;
  line-height: 34px;
  font-weight: 700;
  position: absolute;
  left: 1415.25px;      /* 1665 * 0.85 */
  top: 403.75px;        /* 475 * 0.85 */
  width: 151.3px;       /* 178 * 0.85 */
  height: 26.35px;      /* 31 * 0.85 */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.line-271 {
  margin-top: -1.7px;   /* -2 * 0.85 */
  border-style: solid;
  border-color: #ccc9c9;
  border-width: 1.7px 0 0 0; /* 2 * 0.85 */
  width: 1245.28px;     /* 1465.04 * 0.85 */
  height: 0px;
  position: absolute;
  left: 315.33px;       /* 370.98 * 0.85 */
  top: 458.15px;        /* 539 * 0.85 */
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.group-890 {
  position: absolute;
  inset: 0;
}
._2025-02-24 {
  text-align: left;
  position: absolute;
  left: 315.35px;
  top: 467.5px;         /* 550 * 0.85 */
    width: 119.05px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._2025-02-24-span {
  color: #f9eeee;
  font-family: "LineSeedSansKr-Bold", sans-serif;
  font-size: 20.4px;
  line-height: 34px;
  font-weight: 700;
}
._2025-02-24-span2 {
  color: #ccc9c9;
  font-family: "LineSeedSansKr-Regular", sans-serif;
  font-size: 13.6px;
  line-height: 34px;
  font-weight: 400;
}
._65-000-katte {
  color: #f9eeee;
  text-align: left;
  font-family: "LineSeedSansKr-Bold", sans-serif;
  font-size: 20.4px;
  line-height: 34px;
  font-weight: 700;
  position: absolute;
  left: 1427.15px;      /* 1679 * 0.85 */
  top: 488.75px;        /* 575 * 0.85 */
  width: 151.3px;
  height: 26.35px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.line-2712 {
  margin-top: -1.7px;
  border-style: solid;
  border-color: #ccc9c9;
  border-width: 1.7px 0 0 0;
  width: 1245.28px;
  height: 0px;
  position: absolute;
  left: 315.33px;
  top: 543.15px;        /* 639 * 0.85 */
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.group-891 {
  position: absolute;
  inset: 0;
}
._2025-02-01 {
  text-align: left;
  position: absolute;
  left: 315.37px;       /* 371.02 * 0.85 */
  top: 552.5px;         /* 650 * 0.85 */
    width: 119.05px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._2025-02-01-span {
  color: #f9eeee;
  font-family: "LineSeedSansKr-Bold", sans-serif;
  font-size: 20.4px;
  line-height: 34px;
  font-weight: 700;
}
._2025-02-01-span2 {
  color: #ccc9c9;
  font-family: "LineSeedSansKr-Regular", sans-serif;
  font-size: 13.6px;
  line-height: 34px;
  font-weight: 400;
}
._83-000-katte {
  color: #f9eeee;
  text-align: left;
  font-family: "LineSeedSansKr-Bold", sans-serif;
  font-size: 20.4px;
  line-height: 34px;
  font-weight: 700;
  position: absolute;
  left: 1427.15px;
  top: 573.75px;        /* 675 * 0.85 */
  width: 151.3px;
  height: 26.35px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.line-2713 {
  margin-top: -1.7px;
  border-style: solid;
  border-color: #ccc9c9;
  border-width: 1.7px 0 0 0;
  width: 1245.28px;
  height: 0px;
  position: absolute;
  left: 315.35px;
  top: 628.15px;        /* 739 * 0.85 */
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.group-892 {
  position: absolute;
  inset: 0;
}
._2025-01-26 {
  text-align: left;
  position: absolute;
  left: 315.37px;
  top: 637.5px;         /* 750 * 0.85 */
    width: 119.05px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._2025-01-26-span {
  color: #f9eeee;
  font-family: "LineSeedSansKr-Bold", sans-serif;
  font-size: 20.4px;
  line-height: 34px;
  font-weight: 700;
}
._2025-01-26-span2 {
  color: #ccc9c9;
  font-family: "LineSeedSansKr-Regular", sans-serif;
  font-size: 13.6px;
  line-height: 34px;
  font-weight: 400;
}
._108-700-katte {
  color: #f9eeee;
  text-align: left;
  font-family: "LineSeedSansKr-Bold", sans-serif;
  font-size: 20.4px;
  line-height: 34px;
  font-weight: 700;
  position: absolute;
  left: 1415.25px;
  top: 658.75px;        /* 775 * 0.85 */
  width: 151.3px;
  height: 26.35px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.line-2714 {
  margin-top: -1.7px;
  border-style: solid;
  border-color: #ccc9c9;
  border-width: 1.7px 0 0 0;
  width: 1245.28px;
  height: 0px;
  position: absolute;
  left: 315.35px;
  top: 713.15px;        /* 839 * 0.85 */
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.group-893 {
  position: absolute;
  inset: 0;
}
._2025-01-04 {
  text-align: left;
  position: absolute;
  left: 315.37px;
  top: 722.5px;         /* 850 * 0.85 */
    width: 119.05px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._2025-01-04-span {
  color: #f9eeee;
  font-family: "LineSeedSansKr-Bold", sans-serif;
  font-size: 20.4px;
  line-height: 34px;
  font-weight: 700;
}
._2025-01-04-span2 {
  color: #ccc9c9;
  font-family: "LineSeedSansKr-Regular", sans-serif;
  font-size: 13.6px;
  line-height: 34px;
  font-weight: 400;
}
._201-000-katte {
  color: #f9eeee;
  text-align: left;
  font-family: "LineSeedSansKr-Bold", sans-serif;
  font-size: 20.4px;
  line-height: 34px;
  font-weight: 700;
  position: absolute;
  left: 1415.25px;
  top: 743.75px;        /* 875 * 0.85 */
  width: 151.3px;
  height: 26.35px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.line-2715 {
  margin-top: -1.7px;
  border-style: solid;
  border-color: #ccc9c9;
  border-width: 1.7px 0 0 0;
  width: 1245.28px;
  height: 0px;
  position: absolute;
  left: 315.35px;
  top: 798.15px;        /* 939 * 0.85 */
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.group-894 {
  position: absolute;
  inset: 0;
}
._2025-01-03 {
  text-align: left;
  position: absolute;
  left: 315.37px;
  top: 807.5px;         /* 950 * 0.85 */
    width: 119.05px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._2025-01-03-span {
  color: #f9eeee;
  font-family: "LineSeedSansKr-Bold", sans-serif;
  font-size: 20.4px;
  line-height: 34px;
  font-weight: 700;
}
._2025-01-03-span2 {
  color: #ccc9c9;
  font-family: "LineSeedSansKr-Regular", sans-serif;
  font-size: 13.6px;
  line-height: 34px;
  font-weight: 400;
}
._240-300-katte {
  color: #f9eeee;
  text-align: left;
  font-family: "LineSeedSansKr-Bold", sans-serif;
  font-size: 20.4px;
  line-height: 34px;
  font-weight: 700;
  position: absolute;
  left: 1415.25px;
  top: 828.75px;        /* 975 * 0.85 */
  width: 151.3px;
  height: 26.35px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.line-2716 {
  margin-top: -1.7px;
  border-style: solid;
  border-color: #ccc9c9;
  border-width: 1.7px 0 0 0;
  width: 1245.28px;
  height: 0px;
  position: absolute;
  left: 315.35px;
  top: 883.15px;        /* 1039 * 0.85 */
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
