* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transform-origin: top left;
    height: 100%;
    color : #EEEEEE;
    background-color: #181818;
}
* {
  box-sizing: border-box;
}
/* ───────────────────────────────────────────────────────────────────────────
   상단 탭
   ─────────────────────────────────────────────────────────────────────────── */

#MyPageBar{
    display : block;
    position : absolute;
    width : 75vw;
    height : 9vh;
    right : 85px;
}
#ClickBox{
    position : absolute;
    left : 10px;
    margin : 0 auto;
    align-items: center;
    display : flex;
}
#ClickBox > a {
    width: 160px;
    height: 30px;
    margin-right: 14px;
    padding : 10px;
    display: flex;
    align-items : center;
    justify-content: center;
    color : #CCC9C9CC;
    text-decoration: none;
}
#MyPageText {
    padding : 20px;
    font-size : 32px;
    color : #EEEEEE;
}

#MyPageBar a{
    text-decoration: none;
    text-align: center;
    color : #CCC9C9CC;
}

#MyPageBar a:visited{
    text-decoration: none;
    text-align: center;
    color : #CCC9C9CC;
}

#ClickBox .selected {
    color: rgb(255, 255, 255) !important;
    text-decoration: none;
    font-weight : bold;
}


.div24 {
  color: rgba(249, 238, 238, 0.595);
  text-align: left;
  font-family: "LineSeedSansKr-Bold", sans-serif;
  font-size: 21.25px;       /* 25 * 0.85 */
  line-height: 34px;        /* 40 * 0.85 */
  font-weight: 400;
  position: absolute;
  left: 731px;              /* 860 * 0.85 */
  top: 204.85px;            /* 241 * 0.85 */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div25 {
  color: rgba(249, 238, 238, 0.595);
  text-align: left;
  font-family: "LineSeedSansKr-Regular", sans-serif;
  font-size: 21.25px;       /* 25 * 0.85 */
  line-height: 34px;        /* 40 * 0.85 */
  font-weight: 400;
  position: absolute;
  left: 843.2px;            /* 992 * 0.85 */
  top: 205.7px;             /* 242 * 0.85 */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.line-238 {
    width: 66.4px;
    height: 0px;
    border-top: 1px solid #f9eeee;
    position: absolute;
    left: 952.5px;
    top: 238.85px;
    overflow: visible;
}
.div26 {
  color: #f9eeee;  /* 0.7 * 0.85 */
  text-align: left;
  font-family: "LineSeedSansKr-Regular", sans-serif;
  font-size: 21.25px;       /* 25 * 0.85 */
  line-height: 34px;        /* 40 * 0.85 */
  font-weight: 700;
  position: absolute;
  left: 956.25px;           /* 1125 * 0.85 */
  top: 205.7px;             /* 242 * 0.85 */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div27 {
  color: rgba(249, 238, 238, 0.595);  /* 0.7 * 0.85 */
  text-align: left;
  font-family: "LineSeedSansKr-Regular", sans-serif;
  font-size: 21.25px;       /* 25 * 0.85 */
  line-height: 34px;        /* 40 * 0.85 */
  font-weight: 400;
  position: absolute;
  left: 1087.15px;          /* 1279 * 0.85 */
  top: 205.7px;             /* 242 * 0.85 */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.empty {
  color: #f9eeee;
  text-align: left;
  font-family: "LineSeedSansKr-Bold", sans-serif;
  font-size: 30.6px;    /* 36px × 0.85 */
  line-height: 34px;    /* 40px × 0.85 */
  font-weight: 700;
  position: absolute;
  left: 770.1px;        /* 906px × 0.85 */
  top: 442px;           /* 520px × 0.85 */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}