<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>쿠폰함</title>
    <link rel="stylesheet" href="/css/CsMyPage/MyPage.css">
    <link rel="stylesheet" href="/css/fragments/Sidebar.css" />
</head>
<body>
<!-- 사이드바 HTML 분리 -->
<div th:replace="Fragments/Sidebar :: sidebar"></div>

<div id = "MyPageBar"> <!--상단 마이페이지 바-->
    <div id = "MyPageText">MyPage</div>
    <div id = "ClickBox">
        <div id = "buyList">
            <a href="MyPage.html">구매 내역</a>
        </div>
        <div id = "favorite">
            <a href="Favorite.html">관심</a>
        </div>
        <div id = "MyStyle">
            <a href="MyStyle.html">내 스타일</a>
        </div>
        <div id = "MyKatteMoney">
            <a href="MyKatteMoney.html">캇테머니</a>
        </div>
        <div id = "MyPoint">
            <a href="MyPoint.html">포인트</a>
        </div>
        <div id = "MyCoupon" class = "selected">
            <a href="./MyCoupon.html">쿠폰함</a>
        </div>
        <div id = "MyLogInfo">
            <a href="MyLogInfo.html">로그인 정보</a>
        </div>
        <div id = "MyProfile">
            <a href="MyProfile.html">프로필 관리</a>
        </div>
        <div id = "MyAddress">
            <a href="MyAddress.html">주소록 관리</a>
        </div>
    </div>
</div>>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const items = document.querySelectorAll("#ClickList > div");
        items.forEach(item => {
            item.addEventListener("click", function () {
                // 모든 div에서 selected를 해제
                items.forEach(i => i.classList.remove("selected"));
                // 클릭한 div에 selected를 부여
                this.classList.add("selected");
            });
        });
    });
</script>
</body>
</html>