<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Favorite</title>
  <link rel="stylesheet" href="/css/CsMyPage/Mypage_kattemoney_page.css">
  <link rel="stylesheet" href="/css/fragments/Sidebar.css" />
</head>
<body>
<div th:replace="Fragments/Sidebar :: sidebar"></div>

<div class="contentWrapper">
  <div id = "MyPageBar"> <!--상단 마이페이지 바-->
    <div id = "MyPageText">MyPage</div>
    <div id = "ClickBox">
      <a href="/MyPage" id = "buyList" class>
        <div>구매내역</div>
      </a>
      <a href="/Favorite" id = "favorite">
        <div>관심</div>
      </a>
      <a href="/MyStyle" id = "MyStyle">
        <div>스타일</div>
      </a>
      <a href="/MyKatteMoney" id = "MyKatteMoney"  class = "selected">
        <div>캇테머니</div>
      </a>
      <a href="/MyPoint" id = "MyPoint">
        <div>포인트</div>
      </a>
      <a href="/MyCoupon" id = "MyCoupon">
        <div>쿠폰함</div>
      </a>
      <a href="/MyAddress" id = "MyAddress">
        <div>주소록 관리</div>
      </a>
    </div>
  </div>


  <div class="div">보유 캇테머니</div>
  <div class="_133-000-katte">133,000katte</div>
  <div class="div2">충전하기</div>
  <div class="div3">환불하기</div>
  <div class="_2025-03-04">
    <span>
      <span class="_2025-03-04-span">
        캇테머니 충전
        <br />
      </span>
      <span class="_2025-03-04-span2">2025.03.04</span>
    </span>
  </div>
  <div class="_133-000-katte2">+133,000katte</div>
  <div class="line-271"></div>
  <div class="_2025-02-24">
    <span>
      <span class="_2025-02-24-span">캇테머니 결제</span>
      <span class="_2025-02-24-span2">2025.02.24</span>
    </span>
  </div>
  <div class="_65-000-katte">-65,000katte</div>
  <div class="line-2712"></div>
  <div class="_2025-02-01">
    <span>
      <span class="_2025-02-01-span">
        캇테머니 결제
        <br />
      </span>
      <span class="_2025-02-01-span2">2025.02.01</span>
    </span>
  </div>
  <div class="_83-000-katte">-83,000katte</div>
  <div class="line-2713"></div>
  <div class="_2025-01-26">
    <span>
      <span class="_2025-01-26-span">
        캇테머니 충전
        <br />
      </span>
      <span class="_2025-01-26-span2">2025.01.26</span>
    </span>
  </div>
  <div class="_108-700-katte">+108,700katte</div>
  <div class="line-2714"></div>
  <div class="_2025-01-04">
    <span>
      <span class="_2025-01-04-span">
        캇테머니 결제
        <br />
      </span>
      <span class="_2025-01-04-span2">2025.01.04</span>
    </span>
  </div>
  <div class="_201-000-katte">-201,000katte</div>
  <div class="line-2715"></div>
  <div class="_2025-01-03">
    <span>
      <span class="_2025-01-03-span">
        캇테머니 충전
        <br />
      </span>
      <span class="_2025-01-03-span2">2025.01.03</span>
    </span>
  </div>
  <div class="_240-300-katte">+240,300katte</div>
  <div class="line-2716"></div>
</div>
  </body>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const items = document.querySelectorAll("#ClickList > div");
    items.forEach(item => {
      item.addEventListener("click", function () {
        // 모든 div에서 selected를 해제
        items.forEach(i => i.classList.remove("selected"));
        // 클릭한 div에 selected를 부여
        this.classList.add("selected");
      });
    });
  });
</script>
  </html>
  