<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Favorite</title>
  <link rel="stylesheet" href="/css/CsMyPage/Mypage_mystyle_tag.css">
  <link rel="stylesheet" href="/css/fragments/Sidebar.css">
</head>
<body>

<!-- ✅ 사이드바 -->
<div th:replace="Fragments/Sidebar :: sidebar"></div>

<div class="contentWrapper">
  <div id = "MyPageBar"> <!--상단 마이페이지 바-->
    <div id = "MyPageText">MyPage</div>
    <div id = "ClickBox">
      <a href="/MyPage" id = "buyList">
        <div>구매내역</div>
      </a>
      <a href="/Favorite" id = "favorite">
        <div>관심</div>
      </a>
      <a href="/MyStyle" id = "MyStyle">
        <div>스타일</div>
      </a>
      <a href="/MyKatteMoney" id = "MyKatteMoney">
        <div>캇테머니</div>
      </a>
      <a href="/MyPoint" id = "MyPoint">
        <div>포인트</div>
      </a>
      <a href="/MyCoupon" id = "MyCoupon"  class = "selected">
        <div>쿠폰함</div>
      </a>
      <a href="/MyAddress" id = "MyAddress">
        <div>주소록 관리</div>
      </a>
    </div>
  </div>

  <img class="line-136" src="line-1360.svg" />
  <img class="group-767" src="group-7670.svg" />
  <img class="image-94" src="image-940.png" />
  <div class="need-u-neko">need_u_neko</div>
  <div class="div">니쥬쟝</div>
  <div class="div2">우리집고양이꿍지👻🤍🖤</div>
  <div class="_35">게시물35</div>
  <div class="_352">태그 상품35</div>
  <div class="line-244"></div>

<div class="_3555">게시물35</div>
  <div class="_35255">태그 상품35</div>
  <div class="line-24555"></div>
  <img class="image-9555" src="image-950.png" />
  <img class="image-9655" src="image-960.png" />
  <img class="image-9755" src="image-970.png" />
  <img class="image-9855" src="image-980.png" />
  <img class="image-9955" src="image-990.png" />
  <img class="image-98255" src="image-981.png" />
  <img class="image-10055" src="image-1000.png" />
  <img class="image-10155" src="image-1010.png" />
  <img class="image-10255" src="image-1020.png" />
  <img class="image-10355" src="image-1030.png" />
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const items = document.querySelectorAll("#ClickList > div");
    items.forEach(item => {
      item.addEventListener("click", function () {
        // 모든 div에서 selected를 해제
        items.forEach(i => i.classList.remove("selected"));
        // 클릭한 div에 selected를 부여
        this.classList.add("selected");
      });
    });
  });
</script>
  </body>
  </html>