<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Favorite</title>
  <link rel="stylesheet" href="/css/CsMyPage/Mypage_coupon.css">
  <link rel="stylesheet" href="/css/fragments/Sidebar.css">
</head>
<body>
<div th:replace="~{Fragments/Sidebar :: sidebar}">

</div><div class="contentWrapper">
  <div id = "MyPageBar"> <!--상단 마이페이지 바-->
    <div id = "MyPageText">MyPage</div>
    <div id = "ClickBox">
      <a href="/MyPage" id = "buyList">
        <div>구매내역</div>
      </a>
      <a href="/Favorite" id = "favorite">
        <div>관심</div>
      </a>
      <a href="/MyStyle" id = "MyStyle">
        <div>스타일</div>
      </a>
      <a href="/MyKatteMoney" id = "MyKatteMoney">
        <div>캇테머니</div>
      </a>
      <a href="/MyPoint" id = "MyPoint">
        <div>포인트</div>
      </a>
      <a href="/MyCoupon" id = "MyCoupon">
        <div>쿠폰함</div>
      </a>
      <a href="/MyAddress" id = "MyAddress" class = "selected">
        <div>주소록 관리</div>
      </a>
    </div>
  </div>

  
<!-- Welcome 10,000원 쿠폰 -->
<div class="coupon-card" style="position:absolute; left:306.85px; top:249.05px; width:625.6px; height:170px;">
  <div class="coupon-inner">
    <!-- 앞면 -->
    <div class="coupon-front">
      <div class="coupon-header">
        <img src="/img/logo%20(1).png" alt="로고" class="coupon-logo">
        <button class="coupon-more-btn" title="유의사항">⋯</button>
      </div>
      <div class="coupon-title">[Welcome] 첫구매 10,000원 할인 쿠폰</div>
      <div class="coupon-desc">200,000₩ 이상 구매시 사용 가능</div>
      <div class="coupon-date">~ 2025-6-30 23:59</div>
    </div>
    <!-- 뒷면 -->
    <div class="coupon-back">
      <button class="coupon-close-btn" title="닫기">✕</button>
      <div class="coupon-back-title">유의사항</div>
      <ul class="coupon-back-list">
        <li>최소 200,000원 이상 구매시 할인쿠폰 적용이 가능합니다.</li>
        <li>쿠폰은 다른 계정으로 양도할 수 없습니다.</li>
        <li>다른 쿠폰과 중복사용하실 수 없습니다(배송비 할인쿠폰 제외).</li>
        <li>쿠폰 유효기간 내에만 사용 가능합니다.</li>
      </ul>
    </div>
  </div>
</div>

<!-- Welcome 5,000원 쿠폰 -->
<div class="coupon-card" style="position:absolute; left:951.15px; top:249.05px; width:625.6px; height:170px;">
  <div class="coupon-inner">
    <div class="coupon-front">
      <div class="coupon-header">
        <img src="/img/logo%20(1).png" alt="로고" class="coupon-logo">
        <button class="coupon-more-btn" title="유의사항">⋯</button>
      </div>
      <div class="coupon-title">[Welcome] 첫구매 5,000원 할인 쿠폰</div>
      <div class="coupon-desc">100,000₩ 이상 구매시 사용 가능</div>
      <div class="coupon-date">~ 2025-6-30 23:59</div>
    </div>
    <div class="coupon-back">
      <button class="coupon-close-btn" title="닫기">✕</button>
      <div class="coupon-back-title">유의사항</div>
      <ul class="coupon-back-list">
        <li>최소 100,000원 이상 구매시 할인쿠폰 적용이 가능합니다.</li>
        <li>쿠폰은 다른 계정으로 양도할 수 없습니다.</li>
        <li>다른 쿠폰과 중복사용하실 수 없습니다(배송비 할인쿠폰 제외).</li>
        <li>쿠폰 유효기간 내에만 사용 가능합니다.</li>
      </ul>
    </div>
  </div>
</div>

<!-- Happy Birthday 10,000원 쿠폰 -->
<div class="coupon-card" style="position:absolute; left:953.7px; top:459px; width:625.6px; height:170px;">
  <div class="coupon-inner">
    <div class="coupon-front">
      <div class="coupon-header">
        <img src="/img/logo%20(1).png" alt="로고" class="coupon-logo">
        <button class="coupon-more-btn" title="유의사항">⋯</button>
      </div>
      <div class="coupon-title">[Happy Birthday] 생일 10,000원 할인 쿠폰</div>
      <div class="coupon-desc">20,000₩ 이상 구매시 사용 가능</div>
      <div class="coupon-date">~ 2025-7-30 23:59</div>
    </div>
    <div class="coupon-back">
      <button class="coupon-close-btn" title="닫기">✕</button>
      <div class="coupon-back-title">유의사항</div>
      <ul class="coupon-back-list">
        <li>최소 20,000원 이상 구매시 할인쿠폰 적용이 가능합니다.</li>
        <li>쿠폰은 다른 계정으로 양도할 수 없습니다.</li>
        <li>다른 쿠폰과 중복사용하실 수 없습니다(배송비 할인쿠폰 제외).</li>
        <li>쿠폰 유효기간 내에만 사용 가능합니다.</li>
      </ul>
    </div>
  </div>
</div>

<!-- Happy Birthday 5,000원 쿠폰 -->
<div class="coupon-card" style="position:absolute; left:307.7px; top:459px; width:625.6px; height:170px;">
  <div class="coupon-inner">
    <div class="coupon-front">
      <div class="coupon-header">
        <img src="/img/logo%20(1).png" alt="로고" class="coupon-logo">
        <button class="coupon-more-btn" title="유의사항">⋯</button>
      </div>
      <div class="coupon-title">[Happy Birthday] 생일 5,000원 할인 쿠폰</div>
      <div class="coupon-desc">20,000₩ 이상 구매시 사용 가능</div>
      <div class="coupon-date">~ 2025-7-30 23:59</div>
    </div>
    <div class="coupon-back">
      <button class="coupon-close-btn" title="닫기">✕</button>
      <div class="coupon-back-title">유의사항</div>
      <ul class="coupon-back-list">
        <li>최소 20,000원 이상 구매시 할인쿠폰 적용이 가능합니다.</li>
        <li>쿠폰은 다른 계정으로 양도할 수 없습니다.</li>
        <li>다른 쿠폰과 중복사용하실 수 없습니다(배송비 할인쿠폰 제외).</li>
        <li>쿠폰 유효기간 내에만 사용 가능합니다.</li>
      </ul>
    </div>
  </div>
</div>

<!-- Appreciation Coupon 배송비 3,000원 쿠폰 (중복 사용 가능) -->
<div class="coupon-card" style="position:absolute; left:307.7px; top:669.05px; width:625.6px; height:170px;">
  <div class="coupon-inner">
    <div class="coupon-front">
      <div class="coupon-header">
        <img src="/img/logo%20(1).png" alt="로고" class="coupon-logo">
        <button class="coupon-more-btn" title="유의사항">⋯</button>
      </div>
      <div class="coupon-title">[Appreciation Coupon] 배송비 3,000원 할인 쿠폰</div>
      <div class="coupon-desc">0₩ 이상 구매시 사용 가능</div>
      <div class="coupon-date">~ 2025-7-15 23:59</div>
    </div>
    <div class="coupon-back">
      <button class="coupon-close-btn" title="닫기">✕</button>
      <div class="coupon-back-title">유의사항</div>
      <ul class="coupon-back-list">
        <li>최소 0원 이상 구매시 할인쿠폰 적용이 가능합니다.</li>
        <li>쿠폰은 다른 계정으로 양도할 수 없습니다.</li>
        <li>**중복 사용 가능합니다.**</li>
        <li>쿠폰 유효기간 내에만 사용 가능합니다.</li>
      </ul>
    </div>
  </div>
</div>


  <script>

  document.querySelectorAll('.coupon-card').forEach(card => {
	  card.querySelector('.coupon-more-btn').onclick = function() {
	    card.classList.add('flipped');
	  };
	  card.querySelector('.coupon-close-btn').onclick = function() {
	    card.classList.remove('flipped');
	  };
	});

  </script>
</body>
</html>