<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Favorite</title>
  <link rel="stylesheet" href="/css/CsMyPage/Mypage_mystyle.css">
</head>
<body>
<aside class = "sidebar"> <!--사이드 바-->
  <a href="/main"><img class="logo-1" src="/img/logo%20(1).png" alt="로고"></a>
  <nav class="sidebar-nav">
    <ul>
      <li><a href="/search">검색</a></li>
      <li><a href="/explore">탐색</a></li>
      <li><a href="/sell">판매등록</a></li>
      <li><a href="/wishlist">관심상품</a></li>
      <li><a href="/style">스타일</a></li>
      <li><a href="/mypage">마이페이지</a></li>
      <li><a href="/support">고객센터</a></li>
    </ul>
  </nav>
   <div class="login-area">
    <a href="/login" class="btn-login">로그인</a>
  </div>
  <footer class="sidebar-footer">
    <p><a href="/support">고객센터</a> | <a href="/terms">이용약관</a></p>
    <small>&copy; All copyright in soldesk</small>
  </footer>
</aside>
<div id = "MyPageBar"> <!--상단 마이페이지 바-->
    <div id = "MyPageText">MyPage</div>
    <div id = "ClickBox">
        <div id = "buyList">
            <a href="/MyPage">구매 내역</a>
        </div>
        <div id = "favorite">
            <a href="/Favorite">관심</a>
        </div>
        <div id = "MyStyle" class = "selected">
            <a href="/MyStyle">내 스타일</a>
        </div>
        <div id = "MyKatteMoney">
            <a href="/MyKatteMoney">캇테머니</a>
        </div>
        <div id = "MyPoint">
            <a href="/MyPoint">포인트</a>
        </div>
        <div id = "MyCoupon">
            <a href="/MyCoupon">쿠폰함</a>
        </div>
        <div id = "MyLogInfo">
            <a href="/MyLogInfo">로그인 정보</a>
        </div>
        <div id = "MyProfile">
            <a href="/MyProfile">프로필 관리</a>
        </div>
        <div id = "MyAddress">
            <a href="/MyAddress">주소록 관리</a>
        </div>
    </div>
</div>
  <img class="line-136" src="line-1360.svg" />
  <img class="group-767" src="group-7670.svg" />
  <img class="image-94" src="image-940.png" />
  <div class="need-u-neko">need_u_neko</div>
  <div class="div">니쥬쟝</div>
  <div class="div2">우리집고양이꿍지👻🤍🖤</div>
  <div class="_35">게시물35</div>
  <div class="_352">태그 상품35</div>
  <div class="line-244"></div>

<a href="/styleupload" class="button">
    <div class="rectangle-15701217"></div>
    <div class="div1217">스타일 등록</div>
</a>

  <div class="_1">

      <img class="image-68" src="image-680.png" />
      <div class="_150">150</div>
      <div class="div5">베이프 반팔 코디 추천🌤️</div>
      <div class="needu">needu_</div>
      <div class="div6">
        <img class="mask-group" src="mask-group0.svg" />
      </div>
      <img class="image-72" src="image-720.png" />
    
  </div>
  <div class="_1">
    
      <img class="image-682" src="image-681.png" />
      <div class="_1502">150</div>
      <div class="div7">베이프 반팔 코디 추천🌤️</div>
      <div class="needu2">needu_</div>
      <div class="div6">
        <img class="mask-group2" src="mask-group1.svg" />
      </div>
      <img class="image-722" src="image-721.png" />
  
  </div>
  <div class="_1">

      <img class="image-683" src="image-682.png" />
      <div class="_1503">150</div>
      <div class="div8">베이프 반팔 코디 추천🌤️</div>
      <div class="needu3">needu_</div>
      <div class="div6">
        <img class="mask-group3" src="mask-group2.svg" />
      </div>
      <img class="image-723" src="image-722.png" />

  </div>
  <div class="_1">

      <img class="image-684" src="image-683.png" />
      <div class="_1504">150</div>
      <div class="div9">베이프 반팔 코디 추천🌤️</div>
      <div class="needu4">needu_</div>
      <div class="div6">
        <img class="mask-group4" src="mask-group3.svg" />
      </div>
      <img class="image-724" src="image-723.png" />

  </div>
  
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const items = document.querySelectorAll("#ClickList > div");
    items.forEach(item => {
      item.addEventListener("click", function () {
        // 모든 div에서 selected를 해제
        items.forEach(i => i.classList.remove("selected"));
        // 클릭한 div에 selected를 부여
        this.classList.add("selected");
      });
    });
  });
</script>
</body>
</html>