<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>주소지 추가</title>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<body>
    <h2>주소지 추가</h2>
    <form method="post" th:action="@{/MyAddress/add}" target="submitFrame">
        <input type="hidden" name="is_main" value="0">

        <label>이름:</label>
        <input type="text" name="name" required><br>

        <label>전화번호:</label>
        <input type="text" name="phone_number" required><br>


        <label>우편번호:</label>
        <input type="text" id="post_num" name="post_num" required readonly>
        <button type="button" onclick="execDaumPostcode()">우편번호 검색</button><br>
        <label>주소1:</label>
        <input type="text" id="address_line01" name="address_line01" required readonly><br>

        <label>주소2:</label>
        <input type="text" id="address_line02" name="address_line02"><br>

        <button type="submit">등록</button>
    </form>
    <script>
        function execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function(data) {
                    // 값이 정확히 입력되는지 확인
                    var roadAddr = data.roadAddress || data.jibunAddress;
                    var zonecode = data.zonecode;

                    // 로그 확인용
                    console.log("도로명주소 : " + roadAddr);
                    console.log("우편번호: " + zonecode);

                    document.getElementById('address_line01').value = roadAddr;
                    document.getElementById('post_num').value = zonecode;

                    // 팝업 자동 닫힘
                    if (window.daum && window.daum.Postcode) {
                    }
                }
            }).open({
                popupName: 'postcodePopup' // 동일한 이름의 창이 있으면 재사용됨
            });
        }
    </script>

</body>
</html>