<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyPage</title>
    <link rel="stylesheet" href="/css/CsMyPage/MyPage.css">
    <link rel="stylesheet" href="/css/fragments/Sidebar.css" />
</head>
<body>
<div th:replace="Fragments/Sidebar :: sidebar"></div>

<div class="contentWrapper">
    <div id = "MyPageBar"> <!--상단 마이페이지 바-->
        <div id = "MyPageText">MyPage</div>
        <div id = "ClickBox">
            <a href="/MyPage" id = "buyList" class = "selected">
                <div>구매내역</div>
            </a>
            <a href="/Favorite" id = "favorite">
                <div>관심</div>
            </a>
            <a href="/MyStyle" id = "MyStyle">
                <div>스타일</div>
            </a>
            <a href="/MyKatteMoney" id = "MyKatteMoney">
                <div>캇테머니</div>
            </a>
            <a href="/MyPoint" id = "MyPoint">
                <div>포인트</div>
            </a>
            <a href="/MyCoupon" id = "MyCoupon">
                <div>쿠폰함</div>
            </a>
            <a href="/MyAddress" id = "MyAddress">
                <div>주소록 관리</div>
            </a>
        </div>
    </div>

<div id = "HistoryListWrapper">
    <div id = "HistoryList">
        <div id = "OneHistory">
            <div id = "ProductPicture">
                <img src="/img/pro.png" alt="이미지">
            </div>
            <div id = "ProductInfo">
                <div id = "ProductStatus">
                    ${order_status}
                </div>
                <div id = "ProductBrand">
                    <a href="">${}</a>
                </div>
                <div id = "ProductName">
                    <a href="">상품명</a>
                </div>
                <div id = "ProductPrice">
                    상품 가격
                </div>
                <div id = "ProductSize">
                    내가 선택한 상품 사이즈
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        const items = document.querySelectorAll("#ClickBox > div");
        items.forEach(item => {
            item.addEventListener("click", function () {
                // 모든 div에서 selected를 해제
                items.forEach(i => i.classList.remove("selected"));
                // 클릭한 div에 selected를 부여
                this.classList.add("selected");
            });
        });
    });

    document.addEventListener("DOMContentLoaded", function () {
        const items = document.querySelectorAll("#BuySortClickBox > div");
        items.forEach(item => {
            item.addEventListener("click", function () {
                // 모든 div에서 selected를 해제
                items.forEach(i => i.classList.remove("selected"));
                // 클릭한 div에 selected를 부여
                this.classList.add("selected");
            });
        });
    });

</script>
</body>
</html>