<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<link rel="stylesheet" href="/css/Serachpage/Search_detail.css" />
<link rel="stylesheet" href="/css/fragments/Sidebar.css" />
<body>
<aside class="sidebar">
  <a href="/main">
  <img class="logo-1" src="/img/logo%20(1).png" alt="로고" />
  </a>
  <nav class="sidebar-nav">
    <ul>
      <li><a href="/search">검색</a></li>
      <li><a href="/explore">탐색</a></li>
      <li><a href="/sell">판매등록</a></li>
      <li><a href="/wishlist">관심상품</a></li>
      <li><a href="/style">스타일</a></li>
      <li><a href="/mypage">마이페이지</a></li>
      <li><a href="/support">고객센터</a></li>
    </ul>
  </nav>
  <div class="login-area">
    <a href="/login" class="btn-login">로그인</a>
  </div>
  <footer class="sidebar-footer">
    <p><a href="/support">고객센터</a> | <a href="/terms">이용약관</a></p>
    <small>&copy; All copyright in soldesk</small>
  </footer>
</aside>

<div class="wraaper">
<div class="search-product">
  <img class="line-136" src="line-1360.svg" />
  <img class="group-767" src="group-7670.svg" />
  <div class="rectangle-1568"></div>
  <div class="div2">
   
      <div class="rectangle-1582"></div>
      <div class="group-1002">
        <div class="bape">BAPE</div>
        <div class="_143-000">143,000원</div>
        <div class="bape-college-t-shirt-black">BAPE College T-Shirt Black</div>
      </div>
      <img class="image-70" src="image-700.png" />
      <div class="_23">23</div>
      <div class="div3">
        <div class="ellipse-13"></div>
        <img class="mask-group" src="mask-group0.svg" />
      </div>
   
 
      <div class="rectangle-15822"></div>
      <div class="bape2">BAPE</div>
      <div class="bape-college-t-shirt-black2">BAPE College T-Shirt Black</div>
      <div class="_143-0002">143,000원</div>
      <img class="image-702" src="image-701.png" />
      <div class="_232">23</div>
      <div class="div3">
        <div class="ellipse-132"></div>
        <img class="mask-group2" src="mask-group1.svg" />
      </div>
 
  
      <div class="rectangle-15823"></div>
      <div class="bape3">BAPE</div>
      <div class="bape-college-t-shirt-black3">BAPE College T-Shirt Black</div>
      <div class="_143-0003">143,000원</div>
      <img class="image-703" src="image-702.png" />
      <div class="_233">23</div>
      <div class="div3">
        <div class="ellipse-133"></div>
        <img class="mask-group3" src="mask-group2.svg" />
      </div>
  
      <div class="rectangle-15824"></div>
      <div class="bape4">BAPE</div>
      <div class="bape-college-t-shirt-black4">BAPE College T-Shirt Black</div>
      <div class="_143-0004">143,000원</div>
      <img class="image-704" src="image-703.png" />
      <div class="_234">23</div>
      <div class="div3">
        <div class="ellipse-134"></div>
        <img class="mask-group4" src="mask-group3.svg" />
      </div>


      <div class="rectangle-15825"></div>
      <div class="bape5">BAPE</div>
      <div class="bape-college-t-shirt-black5">BAPE College T-Shirt Black</div>
      <div class="_143-0005">143,000원</div>
      <img class="image-705" src="image-704.png" />
      <div class="_235">23</div>
      <div class="div3">
        <div class="ellipse-135"></div>
        <img class="mask-group5" src="mask-group4.svg" />
      </div>
    </div>
  </div>
  <div class="div2">
    <div class="_1">
      <div class="rectangle-15826"></div>
      <div class="bape6">BAPE</div>
      <div class="bape-college-t-shirt-black6">BAPE College T-Shirt Black</div>
      <div class="_143-0006">143,000원</div>
      <img class="image-706" src="image-705.png" />
      <div class="_236">23</div>
      <div class="div3">
        <div class="ellipse-136"></div>
        <img class="mask-group6" src="mask-group5.svg" />
      </div>


      <div class="rectangle-15827"></div>
      <div class="bape7">BAPE</div>
      <div class="bape-college-t-shirt-black7">BAPE College T-Shirt Black</div>
      <div class="_143-0007">143,000원</div>
      <img class="image-707" src="image-706.png" />
      <div class="_237">23</div>
      <div class="div3">
        <div class="ellipse-137"></div>
        <img class="mask-group7" src="mask-group6.svg" />
      </div>
 

      <div class="rectangle-15828"></div>
      <div class="bape8">BAPE</div>
      <div class="bape-college-t-shirt-black8">BAPE College T-Shirt Black</div>
      <div class="_143-0008">143,000원</div>
      <img class="image-708" src="image-707.png" />
      <div class="_238">23</div>
      <div class="div3">
        <div class="ellipse-138"></div>
        <img class="mask-group8" src="mask-group7.svg" />
      </div>
  
  
      <div class="rectangle-15829"></div>
      <div class="bape9">BAPE</div>
      <div class="bape-college-t-shirt-black9">BAPE College T-Shirt Black</div>
      <div class="_143-0009">143,000원</div>
      <img class="image-709" src="image-708.png" />
      <div class="_239">23</div>
      <div class="div3">
        <div class="ellipse-139"></div>
        <img class="mask-group9" src="mask-group8.svg" />
      </div>
  
   
      <div class="rectangle-158210"></div>
      <div class="bape10">BAPE</div>
      <div class="bape-college-t-shirt-black10">BAPE College T-Shirt Black</div>
      <div class="_143-00010">143,000원</div>
      <img class="image-7010" src="image-709.png" />
      <div class="_2310">23</div>
      <div class="div3">
        <div class="ellipse-1310"></div>
        <img class="mask-group10" src="mask-group9.svg" />
      </div>
  </div>
  <img class="rectangle-1579" src="rectangle-15790.svg" />
  <img class="rectangle-1580" src="rectangle-15800.svg" />
  <div class="group-866">
    <div class="rectangle-1581"></div>
    <div class="div15">스타일</div>
  </div>
  <div class="div16">
    <div class="div17">상품</div>
    <div class="rectangle-15812"></div>
  </div>
  <img class="rectangle-1566" src="rectangle-15660.svg" />
  <div class="div18">베이프</div>
  <div class="line-143"></div>
</div>
</div>
</body>
</html>